﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
</head>
<body data-ng-app="main" data-ng-controller="RootController">
    <div id="layoutNav">
        @Html.ActionLink("Home", "Index", new { controller = "Home", area = "" }) | 
        @Html.ActionLink("Users", "Index", new { controller = "User", area = "UsersPage" }) | 
        @Html.ActionLink("NPR WebPlayer", "Index", new { controller = "NPR", area = "NPRPlayer" }) | 
        @Html.ActionLink("PhoneCat", "Index", new { controller = "PC", area = "PhoneCat" })
    </div>
    <hr />
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>