﻿@{
    Layout = null;
    ViewBag.Title = "Phone Details";
}

<img ng-src="{{phone.imageUrl}}" class="phone">

<h1>{{phone.name}}</h1>

<p>{{phone.snippet}}</p>

<ul class="phone-thumbs">
    @*<li ng-repeat="img in phone.images">
        <img ng-src="{{img}}">
    </li>*@
</ul>