﻿This is the main landing page for the MVC Project
<br /><br />
From here, the links will take you into the appropriate areas running their own angular apps
<ul>
    <li>@Html.ActionLink("Users Demo", "Index", new { controller = "User", area = "UsersPage" })</li>
    <li>@Html.ActionLink("NPR WebPlayer", "Index", new { controller = "NPR", area = "NPRPlayer" })</li>
    <li>@Html.ActionLink("PhoneCat", "Index", new { controller = "PC", area = "PhoneCat" })</li>
</ul>