﻿@{
    Layout = null;
}

<button ng-click="play()" class="btn btn-primary" ng-show="!playing">Play</button>
<button ng-click="stop()" class="btn btn-danger" ng-show="playing">Pause</button>
<br />
Currently Playing: <b>{{ currentTrack }}</b>
<br />
<hr />
Episodes (click to play)
<ul>
    <li ng-repeat="program in programs" ng-click="changeTrack(program)">
        <a href="" class="large-12">{{ program.title.$text }}</a>
    </li>
</ul>
